.navbar-nav a {
  color: #FFF !important;
}
.navbar-nav a.active-menu {
  color:#0FF !important;
}

.fa-arrow-left:hover {
  color: #0FF !important;
}
.fa-heartbeat:hover {
  text-shadow: 0px 0px 5px #0FF, 0 0 5px #0FF, 0 0 5px #0FF;
}

.shadow {
  text-shadow: 0px 0px 5px #FFF, 0 0 5px #FFF, 0 0 5px #FFF;
}

.text-white:hover {
  color: #FFF !important;
}
