.navbar-nav a {
  color: rgb(255, 255, 255) !important;
}

.navbar-nav a.active-menu {
  color: rgb(237, 252, 35) !important;
}

.nav-link:hover, .fa-arrow-left:hover {
  color: #fcf803 !important;
}

.text-white:hover {
  color: #FFF !important;
}
