@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/v4-shims";

@import "scss/_color";
@import "scss/_width";

@import "scss/page/navbar/_navbar";

body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-one;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$font-sizes: 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40;
@each $font-size in $font-sizes {
  .fs-#{$font-size} {
    font-size: #{$font-size}px !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

#text-message:focus {
  outline: 0 !important;
  box-shadow: none !important;
  border-color: #17a2b8 !important;
}
